@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@source "@farnabaz/mdc-editor";
@source "../../**";

@source inline('ring-orange-200 hover:ring-orange-300 hover:dark:ring-orange-700');
@source inline('ring-blue-200 hover:ring-blue-300 hover:dark:ring-blue-700');
@source inline('ring-gray-200 hover:ring-gray-300 hover:dark:ring-gray-700');
@source inline('ring-red-200 hover:ring-red-300 hover:dark:ring-red-700');
@source inline('ring-green-200 hover:ring-green-300 hover:dark:ring-green-700');

@theme static {
  --ui-header-height: 50px;
  --ui-footer-height: 40px;

  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: '#EFFDF5';
  --color-green-100: '#D9FBE8';
  --color-green-200: '#B3F5D1';
  --color-green-300: '#75EDAE';
  --color-green-400: '#00DC82';
  --color-green-500: '#00C16A';
  --color-green-600: '#00A155';
  --color-green-700: '#007F45';
  --color-green-800: '#016538';
  --color-green-900: '#0A5331';
  --color-green-950: '#052e16';
}
